body {
    background-color: black;
}

/* i hate css */
.title {
    color: rgb(19, 128, 225);
    text-shadow: 0 0 20px white;
    font-family: 'Fira Mono';
    font-size: 8px;
    position: absolute;
    left: calc(50% - 4.5%); 
    text-align: center;
}

.discord {
    color: rgb(117, 146, 230);
    font-family: 'Fira Mono';
    font-size: 12px;
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 150px;
    text-align: center;
    background: none;
    border: none;
    text-decoration: underline;
}
